* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0D111D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hide {
    display: none !important;
}

.container {
    min-width: 400px;
    min-height: 400px;
    background-color: #181B1F;
    padding: 2rem;
}

#calc-container h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form-control label {
    color: #ccc;
    font-weight: bold;
    margin-bottom: .6rem;
}

.form-control input {
    padding: 1rem 0.5rem;
    outline: 0;
}

.action-control {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

button {
    background-color: orangered;
    border: 0;
    color: white;
    cursor: pointer;
    flex: 1;
    font-weight: bold;
    opacity: 0.9;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}

button:hover {
    opacity: 1;
}

#clear-btn {
    background-color: rgb(99, 99, 99);
}

#result-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  #imc-number {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
  }
  
  #imc-info {
    font-size: 1.4rem;
    color: #ccc;
  }
  
  #result-container h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #dfdfdf;
  }
  
  #imc-table {
    margin: 1rem 0;
    font-size: 0.8rem;
  }
  
  .table-header {
    font-weight: bold;
    color: #ccc;
  }

.table-header, 
.table-data {
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.table-header h4, 
.table-data p {
    flex: 1;
}

.table-header h4:nth-child(3),
.table-header p:nth-child(3){
    max-width: 120px;
}

#back-btn {
    align-self: center;
}

.low {
    color: #dbce12;
}

.good {
    color: #12bd34;
    font-weight: bold;
}

.medium {
    color: #db6212;
}

.high {
    color: #db1912;
}


@media screen and (max-width: 375px) {
    .container {
        min-width: 95%;
        min-height: 370px;
        background-color: #181B1F;
        padding: 1.5rem;
    }

    #calc-container h2 {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .form-control input {
        padding: .8rem 0.5rem;
    }

    .form-inputs {
        font-size: .8rem;
    }
   

    #imc-number {
        font-size: 1.2rem;
      }
      
      #imc-info {
        font-size: 1.2rem;
      }
      
      #imc-table {
        margin: 1rem 0;
        font-size: 0.7rem;
      }

      button {
        font-size: .8rem;
        padding: .8rem 0.5rem;
    }
}